/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: INFORMATION
/*—————————————————————————————————————————————————————————————————————————*/

/* SECTION: MAIN.CSS
/* This handles the entirety of Lunos.chat's stylization.

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: FONT IMPORTS
/*—————————————————————————————————————————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: VARIABLES
/*—————————————————————————————————————————————————————————————————————————*/

/* NOTE: Don't forget to uncomment the animations when the website is released. */

:root {
	/* SECTION: FONT FAMILIES */
	--font-family-1:              'Poiret One', cursive;
	--font-family-2:              'Baloo Da 2', cursive;
	--font-family-3:              'Zen Kaku Gothic Antique', sans-serif;

	/* SECTION: TEXT COLORS */
	--text-color-1:              rgb(255, 255, 255);
	--text-color-2:              rgba(255, 255, 255, 0.5);
	--text-color-3:              rgb(0, 44, 82);
	--text-color-4:              rgb(0, 0, 0);

	/* SECTION: BACKGROUND COLORS */
	--background-color-1:        rgb(0, 0, 0);
	--background-color-2:        rgba(0, 44, 82, 0.1);
	--background-color-3:        rgb(0, 44, 82);
	--background-color-4:        rgb(0, 170, 0);

	/* SECTION: BORDERS */
	--border-1:                   0.25em solid rgb(0, 44, 82);
	--border-2:                   0.1em  solid rgb(255, 255, 255);
	--border-3:                   0.1em  solid rgb(0, 44, 82);
	--border-4:                   0.25em solid rgb(255, 255, 255);
	--border-5:                   0.1em  solid rgb(0, 0, 0);
	--border-6:                   0.1em  solid rgb(0, 170, 0);

	/* SECTION: EXTRAS FOR SPAN / HOVERING / ACTIVE */
	--text-span-color-1:         rgb(0, 170, 0);
	--text-span-color-2:         rgb(170, 0, 0);

	--hover-text-color-1:        rgb(0, 170, 0);
	--hover-text-color-2:        rgb(0, 0, 0);
	--hover-background-color-1:  rgb(0, 170, 0);
	--hover-border-color-1:      0.1em solid rgb(0, 170, 0);
	
	--active-text-color-1:       rgb(0, 170, 0);
	--active-background-color-1: rgb(0, 0, 0);
	--active-background-color-2: rgb(0, 170, 0);
	--active-border-color-1:     0.1em solid rgb(0, 170, 0);
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: GLOBAL CLASSES
/*—————————————————————————————————————————————————————————————————————————*/

.pages {
	position:    absolute;
	width:       100%;
	height:      100%;
	animation:   1s fadeIn;
	color:       var(--text-color-1);
	font-family: var(--font-family-3);
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: BODY
/*—————————————————————————————————————————————————————————————————————————*/

html, body {
	margin:           0;
	width:            100%;
	height:           100%;
	overflow:         hidden;
	background-color: var(--background-color-1);
}

#under-construction {
	position:      absolute;
	width:         auto;
	font-size:     1em;
	bottom:        0;
	left:          50%;
	padding:       0.75em;
	border-radius: 2em;
	user-select:   none;
	text-align:    center;
	border:        var(--border-2);
	transform:     translateX(-50%);
	font-family:   var(--font-family-3);
	animation:     3s infinite changeColor;
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: SCROLLBAR
/*—————————————————————————————————————————————————————————————————————————*/

/* width */
::-webkit-scrollbar {
	display: none;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(253, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(26, 161, 214);
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: INDEX
/*—————————————————————————————————————————————————————————————————————————*/

/*—— SECTION: TITLE */
#title {
	position:      absolute;
	left:          1em;
	width:         15em;
	height:        4.5em;
	top:           1em;
	text-align:    left;
	animation:     3s fadeIn;
	cursor:        pointer;
	border-bottom: var(--border-5);
	transition:    0.25s;
	z-index:       1;
}

#title h1 {
	position:      absolute;
	font-weight:   600;
	font-size:     3em;
	top:           -0.5em;
	user-select:   none;
	left:          2em;
	transition:    0.25s;
	color:         var(--text-color-1);
	font-family:   var(--font-family-1);
}

#title img {
	position: absolute;
	left:     1em;
	top:      0.5em;
	width:    4em;
	height:   4em;
}

/*—— SECTION: TOP NAV */
#top-nav {
	position:        absolute;
	top:             1.5em;
	left:            50%;
	width:           50%;
	height:          auto;
	z-index:         1;
	user-select:     none;
	animation:       2s top-to-bottom;
	transform:       translate(-50%);
	border-width:    4px;
	border-style:    solid;
	border-top:      none;
	border-left:     none;
	border-right:    none;
	border-image:    linear-gradient(to right, black, rgba(255, 255, 255, 0.25), black) 1;
	display:         flex;
	justify-content: center;
}

.nav-btns {
	width:       6em;
	font-size:   1.25em;
	padding:     1em;
	transition:  0.25s;
	text-align:  center;
	user-select: none;
	margin:      0.5em;
}

.btns {
	transition:    0.25s;
	outline:       none;
	background:    none;
	border:        none;
	cursor:        pointer;
	color:         var(--text-color-1);
	font-family:   var(--font-family-3);
	border-bottom: var(--border-5);
}

.btns:hover {
	color:         var(--hover-text-color-1);
	border-bottom: var(--active-border-color-1);
}

/*—— SECTION: LOGIN / REGISTER */
#log-reg-btn-container {
	position:    absolute;
	right:       2em;
	top:         1em;
	animation:   4s fadeIn;
	user-select: none;
	z-index:     1;
}

#log-btn, #reg-btn {
	font-size:  1em;
	padding:    0.5em;
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: HOME
/*—————————————————————————————————————————————————————————————————————————*/

/*—— SECTION: HOME BACKGROUND */
#home-page-background {
	position:      absolute;
	left:          50%;
	top:           25%;
	height:        100em;
	width:         100em;
	border-radius: 50%;
	animation:     8s fadeIn;
	box-shadow:    0px -10px 25px rgba(255, 255, 255, 0.25);
	transform:     translateX(-50%);
}

/*—— SECTION: HOME */
#home-title {
	position:   absolute;
	text-align: center;
	left:       50%;
	top:        30%;
	animation:  2s fadeIn;
	transform:  translateX(-50%);
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: LOGIN
/*—————————————————————————————————————————————————————————————————————————*/



/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: REGISTER
/*—————————————————————————————————————————————————————————————————————————*/



/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: ABOUT
/*—————————————————————————————————————————————————————————————————————————*/



/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: SUPPORT
/*—————————————————————————————————————————————————————————————————————————*/



/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: KEYFRAMES
/*—————————————————————————————————————————————————————————————————————————*/

@keyframes changeColor {
	0% {
		color: white;
		border: var(--border-2);
	}
	50% {
		color: green;
		border: var(--border-6);
	}
	100% {
		color: white;
		border: var(--border-2);
	}
}


@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeInOut {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes top-to-bottom {
	0% {top: -10em}
	100% {top: 1.5em}
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/