/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: INFORMATION
/*—————————————————————————————————————————————————————————————————————————*/

/* SECTION: MAIN.CSS
/* This handles the entirety of Lunos.chat's stylization.

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: FONT IMPORTS
/*—————————————————————————————————————————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: VARIABLES
/*—————————————————————————————————————————————————————————————————————————*/

/* NOTE: Don't forget to uncomment the animations when the website is released. */

:root {
	/* ANCHOR: FONT FAMILIES */
	--font-family-1:              'Poiret One',              cursive;
	--font-family-2:              'Baloo Da 2',              cursive;
	--font-family-3:              'Zen Kaku Gothic Antique', sans-serif;
	--font-family-4:              'Electrolize',             sans-serif;

	/* ANCHOR: TEXT COLORS */
	--text-color-1:              rgb(255, 255, 255);
	--text-color-2:              rgba(255, 255, 255, 0.5);
	--text-color-3:              rgb(0, 44, 82);
	--text-color-4:              rgb(0, 0, 0);
	--text-color-5:              rgb(0, 170, 0);
	--text-color-6:              rgb(0, 247, 255);

	/* ANCHOR: BACKGROUND COLORS */
	--background-color-1:        rgb(0, 0, 0);
	--background-color-2:        rgba(0, 44, 82, 0.1);
	--background-color-3:        rgb(0, 44, 82);
	--background-color-4:        rgb(0, 170, 0);
	--background-color-5:        rgb(5, 5, 5);

	/* ANCHOR: BORDERS */
	--border-1:                   0.25em solid rgb(0, 44, 82);
	--border-2:                   0.1em  solid rgb(255, 255, 255);
	--border-3:                   0.1em  solid rgb(0, 44, 82);
	--border-4:                   0.25em solid rgb(255, 255, 255);
	--border-5:                   0.1em  solid rgb(0, 0, 0);
	--border-6:                   0.1em  solid rgb(0, 247, 255);
	--border-7:                   0.1em  solid rgb(5, 5, 5);

	/* ANCHOR: EXTRAS FOR SPAN / HOVERING / ACTIVE */
	--transition-1:              0.1s;

	--text-span-color-1:         rgb(0, 170, 0);
	--text-span-color-2:         rgb(170, 0, 0);

	--hover-text-color-1:        rgb(0, 170, 0);
	--hover-text-color-2:        rgb(0, 0, 0);
	--hover-text-color-3:        rgb(0, 247, 255);

	--hover-background-color-1:  rgb(0, 170, 0);
	--hover-background-color-2:  rgb(0, 247, 255);

	--hover-border-1:              0.1em solid rgb(0, 170, 0);
	--hover-border-2:              0.1em solid rgb(0, 247, 255);
	
	--active-text-color-1:       rgb(0, 247, 255);

	--active-background-color-1: rgb(0, 0, 0);
	--active-background-color-2: rgb(0, 170, 0);

	--active-border-1:     0.1em solid rgb(0, 247, 255);

	--filter-1: invert(33%) sepia(97%) saturate(1250%) hue-rotate(92deg) brightness(93%) contrast(105%);
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: GLOBAL CLASSES
/*—————————————————————————————————————————————————————————————————————————*/

.hide {
	display: none;
}

.pages {
	position:    absolute;
	width:       100%;
	height:      100%;
	animation:   1s fadeIn;
	color:       var(--text-color-1);
	font-family: var(--font-family-3);
}

.btns {
	outline:       none;
	background:    none;
	border:        none;
	cursor:        pointer;
	transition:    var(--transition-1);
	color:         var(--text-color-1);
	font-family:   var(--font-family-3);
	border-bottom: var(--border-5);
}

.btns:hover {
	color:         var(--hover-text-color-3);
	border-bottom: var(--active-border-1);
}

.btn-active {
	color: var(--active-text-color-1);
}

.input {
	height:        1.5em;
	font-size:     1.5em;
	margin-bottom: 1em;
	width:         12em;
	padding:       0.5em;
	border:        none;
	background:    none;
	outline:       none;
	text-align:    left;
	z-index:       1;
	transition:    var(--transition-1);
	border-bottom: var(--border-2);
	color:         var(--text-color-1);
	font-family:   var(--font-family-3);
}

.input:focus {
	border-bottom: var(--active-border-1);
}

/* TODO: Figure out why background image isn't showing on the show-password-btn */
.show-password-btn {
	position:        absolute;
	cursor:          pointer;
	width:           3em;
	height:          3em;
	padding:         0.5em;
	border:          var(--border-2);
	transition:      var(--transition-1);
	background:      url('../images/sight-disabled.png') 50% 50% no-repeat;
	background-size: 2em;
}

.show-password-btn:hover {
	border: var(--hover-border-2);
	filter: var(--filter-1);
}

.span-green {
	color: var(--text-color-5);
}

/*——— SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: BODY
/*—————————————————————————————————————————————————————————————————————————*/

html, body {
	margin:           0;
	width:            100%;
	height:           100%;
	overflow:         hidden;
	background-color: var(--background-color-1);
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: SCROLLBAR
/*—————————————————————————————————————————————————————————————————————————*/

/* width */
::-webkit-scrollbar {
	display: none;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(253, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(26, 161, 214);
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: INDEX
/*—————————————————————————————————————————————————————————————————————————*/

/*—— ANCHOR: TITLE */
#title {
	position:      absolute;
	left:          1em;
	width:         15em;
	height:        4em;
	top:           0.5em;
	text-align:    left;
	animation:     3s fadeIn;
	cursor:        pointer;
	z-index:       1;
	transition:    var(--transition-1);
	border-bottom: var(--border-5);
}

#title h1 {
	position:      absolute;
	bottom:        0;
	font-size:     3em;
	user-select:   none;
	left:          1.5em;
	margin:        0;
	transition:    var(--transition-1);
	color:         var(--text-color-1);
	font-family:   var(--font-family-4);
}

#title img {
	position: absolute;
	top:      0.25em;
	width:    4em;
	height:   4em;
}

/*————— !ANCHOR —————*/

/*—— ANCHOR: TOP NAV */
#top-nav {
	position:        absolute;
	top:             1.5em;
	left:            50%;
	width:           50%;
	height:          auto;
	z-index:         1;
	user-select:     none;
	animation:       2s top-to-bottom;
	transform:       translate(-50%);
	border-width:    4px;
	border-style:    solid;
	border-top:      none;
	border-left:     none;
	border-right:    none;
	border-image:    linear-gradient(to right, black, rgba(255, 255, 255, 0.25), black) 1;
	display:         flex;
	justify-content: center;
}

.nav-btns {
	width:       6em;
	font-size:   1.25em;
	padding:     1em;
	text-align:  center;
	user-select: none;
	margin:      0.5em;
	transition:  var(--transition-1);
}

/*————— !ANCHOR —————*/

/*—— ANCHOR: LOGIN / REGISTER */
#log-reg-btn-container {
	position:    absolute;
	right:       2em;
	top:         1em;
	animation:   4s fadeIn;
	user-select: none;
	z-index:     1;
}

#log-btn, #reg-btn {
	font-size:  1em;
	padding:    0.5em;
}

/*————— !ANCHOR —————*/

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: HOME
/*—————————————————————————————————————————————————————————————————————————*/

/*—— ANCHOR: HOME BACKGROUND */
#home-page-background {
	position:      absolute;
	left:          50%;
	top:           25%;
	height:        100em;
	width:         100em;
	border-radius: 50%;
	/*
	animation:     8s fadeIn;
	box-shadow:    0px -10px 25px rgba(255, 255, 255, 0.25);
	*/
	animation:     planet 3s forwards;
	transform:     translateX(-50%);
	background-color:black;
}

/*————— !ANCHOR —————*/

/*—— ANCHOR: HOME */
#home-title {
	position:    absolute;
	text-align:  center;
	left:        50%;
	top:         30%;
	animation:   2s fadeIn;
	user-select: none;
	transform:   translateX(-50%);
	font-family: var(--font-family-4);
}

/*————— !ANCHOR —————*/

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: LOGIN
/*—————————————————————————————————————————————————————————————————————————*/

#login-page {
	position:  absolute;
	left:      50%;
	top:       50%;
	transform: translate(-50%, -50%);
	width:     25em;
	height:    15em;
}

#show-login-password-btn {
	right: 2em;
}

#login-incorrect-text {
	position:    absolute;
	top:         9em;
	left:        0;
	font-family: var(--font-family-3);
}

#login-btn, #reset-password-btn {
	position:  absolute;
	top:       8em;
	font-size: 1.25em;
	padding:   0.5em;
}

/* TODO: in JS, if email/password isn't right then display #login-incorrect-text and bump #login-btn and #reset-password-btn down to 10em. */

#login-btn {
	left: 0;
}

#reset-password-btn {
	left: 6em;
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: REGISTER
/*—————————————————————————————————————————————————————————————————————————*/

#register-page {
	position:  absolute;
	left:      50%;
	top:       50%;
	transform: translate(-50%, -50%);
	width:     25em;
	height:    15em;
}

#show-register-password-btn {
	right: 2em;
}

#account-register-btn {
	font-size: 1.25em;
	padding:   0.5em;
}

.register-rules {
	color: var(--text-color-1);
	font-family: var(--font-family-3);
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: ABOUT
/*—————————————————————————————————————————————————————————————————————————*/

#about-lunos-container {
	position:      absolute;
	left:          50%;
	top:           15%;
	text-align:    center;
	width:         auto;
	transform:     translateX(-50%);
	border-bottom: var(--border-2);
	font-family:   var(--font-family-4);
}

#about-title {
	width:       100%;
	text-align:  center;
	font-family: var(--font-family-3);
}

#about-card-container {
	position: absolute;
	top:      50%;
	width:    auto;
}

#about-card-title {
	position:    absolute;
	bottom:      11em;
	width:       100%;
	text-align:  center;
	font-family: var(--font-family-3);
}

#about-card-container {
	padding-bottom: 1em;
	border-bottom:  var(--border-2);
}

#and-sign {
	user-select: none;
	font-size:   7em;
	font-family: var(--font-family-3);
	color:     rgba(0, 170, 0, 0.5);
}

.card-container {
	position:              relative;
	display:               inline-grid;
	grid-column-gap:       2em;
	grid-template-columns: auto auto auto;
	top:                   25%;
	left:                  50%;
	transform:             translateX(-50%);
	width:                 auto;
}

.cards {
	width:       26em;
	height:      auto;
	text-align:  left;
	border:      var(--border-5);
	transition:  var(--transition-1);
	font-family: var(--font-family-4);
}

.cards-title {
	text-align: center;
	color: var(--text-span-color-1);
}

.cards p {
	padding: 0.5em;
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: SUPPORT
/*—————————————————————————————————————————————————————————————————————————*/

#contact-card-container {
	position:  absolute;
	left:      50%;
	transform: translateX(-50%);
	top:       30%;
}

#email {
	text-decoration: none;
	font-size:       1.25em;
	text-align:      center;
	width:           100%;
	padding:         0;
	font-family:     var(--font-family-4);
}

#email a {
	color:      var(--text-color-1);
	transition: var(--transition-1);
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: CHAT
/*—————————————————————————————————————————————————————————————————————————*/

/*—— ANCHOR: SERVER LIST */
.server-list {
	position:         absolute;
	height:           100%;
	width:            14em;
	overflow:         scroll;
	z-index:          2;
}

.icon-list {
	width: 3.5em;
	background-color: var(--background-color-5);
}

.server-list hr {
	position:      relative;
	top:           0.25em;
	width:         50%;
	border:        none;
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
}

.server-icon {
	position:         relative;
	left:             50%;
	width:            2.5em;
	height:           2.5em;
	margin-top:       1em;
	border-radius:    50%;
	cursor:           pointer;
	transform:        translateX(-50%);
	border:           var(--border-2);
	background-color: var(--background-color-1);
}

.server-icon-title {
	position:    absolute;
	height:      1em;
	width:       auto;
	left:        2em;
	user-select: none;
	z-index:     3;
	font-size:   1.5em;
	top:         50%;
	padding:     0.25em;
	opacity:     0;
	transform:   translateY(-50%);
	color:       var(--text-color-6);
	transition:  var(--transition-1);
	font-family: var(--font-family-4);
}

.server-icon-title p {
	margin: 0;
}

.server-icon:hover {
	border-radius: 2em;
}

.server-icon:hover .server-icon-title {
	opacity:          1;
	background-color: var(--background-color-1);
}

/* TODO: Fix Z-INDEX for .server-list and everything else in this area.

/*————— !ANCHOR —————*/

/*—— ANCHOR: SERVERS */
.servers {
	position: absolute;
	top:      0;
	right:    0;
	height:   100%;
	width:    95%;
	z-index:  1;
}

.server-title {
	position:    relative;
	width:       12em;
	top:         1em;
	color:       var(--text-color-1);
	font-family: var(--font-family-4);
}

.server-title h1 {
	position:         relative;
	width:            100%;
	text-align:       left;
	padding-left:     0.5em;
	border-bottom:    var(--border-2);
	background-color: var(--background-color-5);
}

/*————— !ANCHOR —————*/

/*—— ANCHOR: CHANNELS */
.channel-title {
	position:         relative;
	left:             14em;
	bottom:           3em;
	width:            84em;
	color:            var(--text-color-1);
	font-family:      var(--font-family-4);
}

.channel-title h1 {
	width:            100%;
	padding-left:     0.5em;
	padding-bottom:   0.05em;
	border-bottom:    var(--border-2);
	background-color: var(--background-color-5);
}

.channels {
	position: absolute;
	top:      5.95em;
	width:    13em;
	height:   46em;
	background-color: green;
}

.chan-btn {
	position:       relative;
	text-align:     left;
	left:           1em;
	width:          80%;
	margin-top:     1em;
	padding:        0.5em;
	font-size:      1em;
	overflow:       hidden;
	background:     none;
	border:         none;
	cursor:         pointer;
	z-index:        10;
	border-bottom:  var(--border-5);
	transition:     var(--transition-1);
	color:          var(--text-color-1);
	font-family:    var(--font-family-4);
}

.chan-btn:hover {
	color:              var(--hover-text-color-3);
	border-bottom:      var(--hover-border-2);
}

.chan-btn:active {
	background-color: rgb(0, 247, 255, 0.25);
}

.channel-pages {
	position:  absolute;
	left:      14em;
	background-color: red;
	top:       5.95em;
	height:    46em;
	width:     84em;
	z-index:   0;
}

/*————— !ANCHOR —————*/

/*—— ANCHOR: USERS */
.users {
	position:         absolute;
	right:            0;
	top:              5.95em;
	width:            13em;
	height:           100%;
	overflow-y:       scroll;
	background-color: var(--background-color-5);
}

.online-title {
	color: var(--text-color-1);
}

.online-title h1, .offline-title h1 {
	position:    relative;
	font-size:   1.25em;
	padding:     0;
	margin:      0%;
	color:       var(--text-color-1);
	font-family: var(--font-family-4);
}

.online-user-list {
	color: var(--text-color-1);
}

.offline-user-list {
	color: var(--text-color-2);
}

.user {
	font-family: var(--font-family-4);
}

.user p {
	padding-left: 0.75em;
}

/*————— !ANCHOR —————*/

/*—— ANCHOR: PROFILE */
.profile {
	position:         absolute;
	width:            13.5em;
	height:           3.5em;
	bottom:           1em;
	background-color: var(--background-color-5);
}

.profile p {
	margin: 0;
}

.profile-icon {
	position:      absolute;
	top:           50%;
	width:         2.5em;
	height:        2.5em;
	left:          0.25em;
	border-radius: 50%;
	transform:     translateY(-50%);
	border:        var(--border-2);
}

.profile-name {
	position:    relative;
	top:         0.35em;
	font-size:   1.25em;
	width:       8em;
	left:        2.75em;
	overflow-x:  hidden;
	cursor:      pointer;
	transition:  var(--transition-1);
	color:       var(--text-color-1);
	font-family: var(--font-family-4);
}

.profile-name:hover {
	color: var(--hover-text-color-3);
}

.profile-status {
	position:    relative;
	top:         0.5em;
	font-size:   1em;
	width:       10em;
	left:        3.5em;
	bottom:      0.5em;
	overflow-x:  hidden;
	color:       var(--text-color-1);
	font-family: var(--font-family-4);
}

/*—— ANCHOR: CHATBAR */
.chat-bar {
	position: absolute;
	bottom:   1.25em;
	height:   3.25em;
	width:    83em;
	left:     14em;
}

.chat-input {
	border:           none;
	outline:          none;
	background:       none;
	height:           100%;
	width:            100%;
	padding-left:     1em;
	font-size:        1em;
	border-bottom:    var(--border-5);
	color:            var(--text-color-1);
	transition:       var(--transition-1);
	font-family:      var(--font-family-4);
	background-color: var(--background-color-5);
}

.chat-input:focus {
	border-bottom: var(--active-border-1);
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: KEYFRAMES
/*—————————————————————————————————————————————————————————————————————————*/

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeInOut {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes top-to-bottom {
	0% {top: -10em}
	100% {top: 1.5em}
}

/* TODO: Read: https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
@keyframes planet {
	0% {
		box-shadow: 0px 300px 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0px -10px 30px rgba(255, 255, 255, 0.5);
	}
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/