/*———————————————————————————————————————*/
/* SECTION Imports                       */
/*———————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*———————————————————————————————————————*/
/* SECTION Variables                     */
/*———————————————————————————————————————*/

:root {
	/* NOTE: Font Families */
	--font-family-1: 'Poiret One', cursive;;

	/* NOTE: Text Colors */
	--text-color-1: rgb(255, 255, 255);
	--text-color-2: rgba(255, 255, 255, 0.5);
	--text-color-3: rgb(0, 44, 82);
	--text-color-4: rgb(0, 0, 0);

	--text-span-color-1: rgb(0, 170, 0);
	--text-span-color-2: rgb(170, 0, 0);

	/* NOTE: Background Colors */
	--background-color-1: rgb(0, 0, 0);
	--background-color-2: rgba(0, 44, 82, 0.1);
	--background-color-3: rgb(0, 44, 82);

	/* NOTE: Borders */
	--border-1: 0.25em solid rgb(0, 44, 82);
	--border-2:  0.1em solid rgb(255, 255, 255);
	--border-3:  0.1em solid rgb(0, 44, 82);
	--border-4: 0.25em solid rgb(255, 255, 255);
}

/*———————————————————————————————————————*/
/* SECTION Elements                      */
/*———————————————————————————————————————*/

html, body {
	background-color: var(--background-color-1);
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*———————————————————————————————————————*/
/* SECTION Id's                          */
/*———————————————————————————————————————*/

#chat-app {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#title {
	width: 25em;
	height: 8em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#title h1 {
	color: var(--text-color-1);
	text-align: center;
	position: relative;
	font-family: var(--font-family-1);
	font-weight: 600;
	font-size: 3em;
	user-select: none;
}

#title h3 {
	color: var(--text-color-1);
	font-family: var(--font-family-1);
	font-weight: 400;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 20em;
	bottom: 1em;
}

/* SECTION: Entry Page */

#entry-page {
	width: 50em;
	height: 30em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* NOTE: Login Page, Register Page */
#login-page, #register-page {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25em;
}

#login-page label {
	color: var(--text-color-1);
	font-family: var(--font-family-1);
	font-weight: 400;
	font-size: 2em;
	user-select: none;
}

#entry-page input {
	height: 1.5em;
	font-size: 1.5em;
	border: none;
	background: none;
	border-bottom: var(--border-2);
	outline: none;
	color: var(--text-color-1);
	font-family: var(--font-family-1);
	font-weight: 600;
	margin-bottom: 1em;
	width: 12em;
	text-align: center;
	padding: 0.5em;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.25s;
	z-index: 1;
	outline: none;
}

#entry-page input:focus {
	border-bottom: var(--border-3);
}

#button-box {
	top: 2em;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#toggle-password-button {
	position: relative;
	width: 1.5em;
	height: 1.5em;
	left: 3em;
	top: 1em;
	z-index: 1;
	cursor: pointer;
	padding: 0.5em;
	transition: 0.5s;
	border: var(--border-3);
	outline: none;
}

#toggle-password-button:hover {
	border: var(--border-2);
	background-color: var(--background-color-3);
}

#incorrect-text {
	position: absolute;
	top: 8em;
	font-size: 1.25em;
	width: 100%;
	text-align: center;
}

#login-button, #register-button {
	width: 6em;
	height: 2.5em;
	font-size: 1.5em;
	background: none;
	color: var(--text-color-1);
	border: var(--border-2);
	transition: 0.25s;
	margin: 1em;
	transition: 0.25s;
	outline: none;
}

#entry-page button:hover {
	color: var(--text-color-3);
	border: var(--border-3);
	cursor: pointer;
}

#account-register-button {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 15em;
	height: 2.5em;
	position: absolute;
	top: 12em;
	font-size: 1.5em;
	background: none;
	color: var(--text-color-1);
	border: var(--border-2);
	transition: 0.25s;
	outline: none;
}

#register-page {
	z-index: -1;
}

#register-page h3 {
	color: var(--text-color-2);
	position: relative;
	top: 8em;
	width: 20em;
	font-family: var(--font-family-1);
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.25em;
	user-select: none;
	line-height: 1.5em;
}

#register-page img {
	width: 2em;
	height: 2em;
	position: absolute;
	cursor: pointer;
	left: -12em;
	top: -10em;
	padding: 0.5em;
	border: var(--border-3);
	transition: 0.25s;
}

#register-page img:hover {
	background-color: var(--background-color-3);
	border: var(--border-2);
}

/* SECTION: Chat Page */

/* NOTE: Channels */
#channel-container {
	width: 17em;
	height: 48.5em;
	position: absolute;
	top: 6em;
}

#channel-container h1 {
	text-align: center;
	color: var(--text-color-1);
	font-family: var(--font-family-1);
	font-weight: 600;
	user-select: none;
	font-size: 1.5em;
	transition: 0.25s;
}

#channel-container h1:hover {
	color: var(--text-color-3);
	cursor: pointer;
}

/* NOTE: Profile */
#profile-container {
	position: absolute;
	bottom: 0;
	width: 17em;
	height: 5em;
}

#profile {
	position: absolute;
	height: 5em;
	width: 17em;
}

#profile-image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1em;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	border: var(--border-2);
	padding: 0.25em;
	cursor: pointer;
	transition: 0.25s;
}

#profile-image:hover {
	background-color: var(--background-color-3);
}

#profile-username {
	position: relative;
	top: 0.5em;
	left: 3.5em;
	width: 6em;
	max-height: 1em;
	color: var(--text-color-1);
	text-align: left;
	font-family: var(--font-family-1);
	font-weight: 600;
	font-size: 1.5em;
	overflow-y: hidden;
	overflow: hidden;
	cursor: pointer;
	transition: 0.25s;
}

#profile-username:hover {
	color: var(--text-color-3);
}

/* NOTE: Members */
#member-container {
	width: 17em;
	height: 100%;
	position: absolute;
	top: 6em;
	right: 0;
}

#member-container h1 {
	text-align: center;
	color: var(--text-color-1);
	font-family: var(--font-family-1);
	font-weight: 600;
	user-select: none;
	font-size: 1.5em;
	transition: 0.25s;
}

#member-container h1:hover {
	color: var(--text-color-3);
	cursor: pointer;
}

/* NOTE: Chat Container */
#chat-container {
	width: 70em;
	height: 44em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10em;
}

#user-list {
	position: relative;
	background-color: blue;
	width: 100%;
	height: 100%;
}

/* .username:hover {something}

/* NOTE: Chat Bar */
#chat-bar {
	width: 50em;
	height: 3em;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 55em;
}

#chat-bar-input {
	width: 34em;
	height: 2em;
	position: absolute;
	left: 3em;
	background: none;
	border: none;
	font-size: 1.25em;
	color: var(--text-color-1);
	outline: none;
}

#chat-bar-input:focus {
	border-bottom: var(--border-1);
}

#chat-bar img {
	width: 2em;
	height: 2em;
	z-index: 4;
	position: relative;
	left: 1em;
	top: 0.25em;
	transition: 0.25s;
}

#chat-bar img:hover {
	cursor: pointer;
}

/*———————————————————————————————————————*/
/* SECTION Classes                       */
/*———————————————————————————————————————*/

.hide {
	display: none;
}

.green {
	color: var(--text-span-color-1);
}

.red {
	color: var(--text-span-color-2);
}

.register-spans {
	transition: 0.25s;
}

.user-list {
	display: flex;
	width: 100%;
	height: auto;
	color: rgb(204, 204, 204);
	padding: 10px;
}

.text {
	width: 100%;
}

/*———————————————————————————————————————*/
/* SECTION Keyframes                     */
/*———————————————————————————————————————*/




/*———————————————————————————————————————*/
/* SECTION Media Queries                 */
/*———————————————————————————————————————*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#title {
		width: 100%;
		height: 6em;
		border-left: none;
		border-right: none;
		border-bottom: var(--border-1);
	}
	
	#title h1 {
		top: 0.5em;
		font-size: 3em;
		font-size: 2em;
	}
	
	#title h3 {
		top: 1em;
		padding: 0.5em;
		width: 20em;
		font-size: 1em;
	}

	/* SECTION: Chat Page */

	/* NOTE: Channels */
	#channel-container {
		width: 8em;
		height: 30em;
		left: 1em;
		top: 8em;
	}

	#channel-container h1 {
		padding-bottom: 0.5em;
		font-size: 1.5em;
	}

	#channel-container img {
		display: none;
	}
		
	/* NOTE: Profile */
	#profile-container {
		top: 51em;
		left: 4em;
		width: 17em;
		height: 5em;
	}

	#profile {
		height: 5em;
		width: 17em;
	}

	#profile-image {
		left: 1em;
		width: 2.5em;
		height: 2.5em;
		padding: 0.25em;
	}

	#profile-username {
		top: 0.5em;
		left: 3.5em;
		width: 6em;
		max-height: 1em;
		font-size: 1.5em;
	}

	/* NOTE: Members */
	#member-container {
		width: 8em;
		height: 30em;
		right: 1em;
		top: 8em;
	}

	#member-container h1 {
		padding-bottom: 0.5em;
		font-size: 1.5em;
	}

	#member-container img {
		display: none;
	}

	/* NOTE: Chat Bar */
	#chat-bar {
		max-width: 50em;
		height: 3em;
		top: 55em;
		border-bottom: var(--border-1);
		border-left: var(--border-1);
	}

	#chat-bar input {
		width: 34em;
		height: 2em;
		left: 3em;
		font-size: 1.25em;
	}

	#chat-bar img {
		width: 2em;
		height: 2em;
		left: 1em;
		top: 0.5em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}